* {
    margin: 0%;
    box-sizing: border-box;
}

h1{
    color: black;
    font-size: 80px;
}

p{
    font-size: 45px;
}

header{
    margin:0;
    padding:0;
    width: 100%;
    
}

#imgx {
    background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQFCyjoUeTZN5Q/company-background_10000/0/1579184622552?e=2147483647&v=beta&t=9Y_vdmoaW3t0XO0UZuChHpt2AJOSf6kouynH7ARAYcw");
    background-size: cover;
    height: 1820px;
    opacity: 0.5;
}

#logo{
display: inline;
/* margin-top: 30px; */
}

#header img{
    opacity: 1;
    width: 150px;
    height: 100px;
    background-size: cover;
}
#welcome{
    text-align: center;
    background-color: skyblue;
    display: block;
    width: auto;
    position:relative;
  
}

#message{
border: 5px solid black;
width: 55%;
z-index: 2;
position: absolute;
margin: 0 auto;
position: absolute;
margin-left: 25%;
margin-top: 5%;
max-width: 600px;

}


#welcome .content h1{

    border: 5px solid black;
    width: 55%;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    position: absolute;
    margin-left: 25%;
    margin-top: 5%;
    max-width: 600px;
  
}

.squad {
    text-align: center;
    background-color: skyblue;
    display: block;
    width: auto;
    height: auto;

}

.gallery {
    text-align: center;
    background-color: skyblue;
    display: block;
    width: auto;
    height: auto;

}

.palmares {
    text-align: center;
    background-color: skyblue;
    display: block;
    width: auto;
    height: auto;
    

}

.welcome h1{
z-index: 2;
position: absolute;
margin: 0 auto;
width: 100%;
margin-top: 13px;
color: black;


/* CSS3 */
}

.welcome p {
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    margin-top: 93px;
    color: black;
    font-weight: bold;

}

img{
    opacity: 0.5;
        max-width: 100%;
        max-height: 100%;

}
.navbar{
    height: 50px;
    text-align: right;
    font-size: 30px;
    margin: 0%;
    padding: 30px 30px;
    float: 40px;
    float:right;
     display: inline;
    
}

/* .navbar ul{
    list-style:none;
} */
ul a {
margin-left: 20px;
color: black;
    text-decoration: none;
}

#footer p{
    background-color: rgba(248, 241, 241, 0.252);
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}